<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY review</title>
    <th:block th:replace="fragments/index::style"></th:block>
</head>
<body>
<style>
</style>

<div class="container">

    <div th:replace="fragments/index :: header"></div>

    <div class="top">
        <img src="dd.JPG">OOO님&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;포인트
    </div>

    <div class="contents">
        <div class="row">
            <div class="col-sm-3" style="text-align: right; margin-right: 20px">
                <div style="height:120px"><a href>예약내역</a></div>
                <div style="height:120px"><a href>저장목록</a></div><br><br>
                <div style="height:120px"><a href>내 후기</a></div><br><br>
                <div style="height:120px"><a href>내가 남긴 글</a></div>
                <div style="height:120px"><a href>관리자 등록</a></div>
            </div>

            <div class="col-sm-8">
                <div class="card mb-3" style="max-width: 540px;" th:each="book, i:${bookList}">
                    <div class="card-body">
                        <h5 class="card-text" th:text="|${book.getCheckin()} ~ ${book.getCheckout()}|"></h5><br>
                        <p class="card-text" th:text="${book.getRoomid()}"></p>
                        <p class="card-text" th:text="${book.getDetail()}"></p>
                        <p class="card-text" th:text="${book.getTotal()}"></p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>

    <th:block th:replace="fragments/index :: footer"></th:block>
</div>

</body>
</html>