<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MYPAGE</title>

    <th:block th:replace="fragments/index::style"></th:block>

</head>
<style>
    #top {
        margin-top: 30px;
    }
</style>
<body>
<th:block th:replace="fragments/mypage::style"></th:block>

<div th:replace="fragments/index :: header"></div>

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">

                    <h4>Mypage</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>Mypage</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="col-12">
                <br><br>
                <h5 th:text="|${userid}님|"></h5>
            </div>
            <div class="shop__sidebar">
                <div class="shop__sidebar__accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div th:replace="fragments/mypage :: sideBar"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="tab-content">
                    <!--<br><br><br>-->
                    <div class="tab-pane active" id="reservation" role="tabpanel" aria-labelledby="reservation-tab">
                        <h5 id="top"><br><br>내 예약 내역</h5>
                        <div class="card mb-2" style="max-width: 700px;" th:each="book, i:${bookList}">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img th:src="${book.path}" class="img-fluid rounded-start"
                                         style="object-fit: cover; width: 100%; height: 15vw">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-text"
                                            th:text="|${book.getHotelname()} / ${book.getRoomname}|"></h5>
                                        <p class="card-text"
                                           th:text="|${book.getCheckin()} ~ ${book.getCheckout()} (${book.getName()})|"></p>
                                        <p class="card-text" th:text="${book.getMobile()}"></p>
                                        <p class="card-text" th:text="${book.getDetail()}"></p>
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin: auto" align="center">
                                    <a th:href="@{/mypage/booking/change(bookid=${book.getBookid()})}">
                                        <button class="btn btn-outline-primary btn-sm">예약변경</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h5 th:if="${not #strings.isEmpty(businessId)}"><br><br>고객 예약 내역</h5>
                        <div class="card mb-2" style="max-width: 700px;" th:if="${not #lists.isEmpty(bidBookList)}"
                             th:each="bidBook, i:${bidBookList}">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img th:src="${bidBook.path}" class="img-fluid rounded-start"
                                         style="object-fit: cover; width: 100%; height: 15vw">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-text"
                                            th:text="|${bidBook.hotelname} / ${bidBook.roomname}|"></h5>
                                        <p class="card-text"
                                           th:text="|${bidBook.booking.checkin} ~ ${bidBook.booking.checkout} (${bidBook.booking.name})|"></p>
                                        <p class="card-text" th:text="${bidBook.booking.mobile}"></p>
                                        <p class="card-text" th:text="${bidBook.booking.detail}"></p>
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin: auto" align="center">
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="save" role="tabpanel" aria-labelledby="save-tab">

                        </div>

                        <div class="tab-pane" id="review" role="tabpanel" aria-labelledby="review-tab">

                        </div>

                        <div class="tab-pane" id="mywriting" role="tabpanel" aria-labelledby="mywriting-tab">

                        </div>

                        <div class="tab-pane" id="manager" role="tabpanel" aria-labelledby="manager-tab">

                        </div>

                        <div class="tab-pane" id="business" role="tabpanel" aria-labelledby="business-tab">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br><br><br><br>


<th:block th:replace="fragments/index :: footer"></th:block>
</body>
<script>
    $(document)

        .on('click', '#btnDelete', function () {
            alert('정말 예약을 취소하시겠습니까?')
        })
    //별점 미선택 후기 작성시
    // .on("click","#comment-create-btn",function (){
    //     if($(':radio[name="score"]:checked').length<1) {
    //         alert ('별점을 선택해주세요.');
    //         return false;
    //     }
    // })


    // const commentEditModal = document.querySelector("#review-edit-Modal")
    //
    // commentEditModal.addEventListener("show.bs.modal", function(event){
    //
    //     const triggerBtn = event.relatedTarget
    //
    //     const content = triggerBtn.getAttribute("data-bs-content");
    //     const score = triggerBtn.getAttribute("data-bs-score");
    //     const rid = triggerBtn.getAttribute("data-bs-rid");
    //
    //     console.log(rid);
    //     document.querySelector("#message-text").value = content
    //     document.querySelector("#score-value").value = score
    //     document.querySelector("#review-id").value=rid
    //
    // })


</script>
</html>