<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragments/index::style"></th:block>
</head>
<style>
    #content {
        width: 504px;
        height: 40px;
    }

    #addReply {
        text-align: center;
        widhth: 100px;
        height: 40px;
    }

    #writer {
        vertical-align: text-top;
    }
</style>
<body>
<div th:replace="fragments/index :: header"></div>

<!-- Blog Details Hero Begin -->
<section class="blog-hero spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="blog__hero__text">
                    <h2 th:text="${title}"></h2>
                    <ul>
                        <li th:text="${writer}"></li>
                        <li th:text="${date}"></li>
                        <li th:if="${#strings.equals(userid, writer)}">
                            <a id="modify" th:href="@{/community/modifypost(boardcode=${boardcode})}">수정</a>&nbsp;&nbsp;
                            <a id="delete" th:href="@{/community/delete(boardcode=${boardcode})}">삭제</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12" text-center>
                <div class="blog__details__pic">
                    <img src="" alt="">
                </div>
            </div>

            <div class="col-lg-8">
                <div class="blog__details__content">
                    <br><br>
                    <div class="blog__details__text">
                        <p th:utext="${content}"></p>
                    </div>

                    <div class="blog__details__comment">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div th:if="${not #strings.isEmpty(userid)}">
                                        <form action="newreply" method="post">
                                            <table id="rtable2">
                                                <tr>
                                                    <td class="col-lg-2 col-md-2" id="writer">
                                                        <th:block th:text="${userid}" name="writer"></th:block>
                                                    </td>
                                                    <td class="col-lg-8 col-md-8">
                                                        <textarea name="content" id="content"
                                                                                            placeholder="댓글 달기"></textarea>
                                                        <input type="hidden" name="boardcode" th:value="${boardcode}"
                                                               id="boardcode">
                                                    </td>
                                                    <td class="col-lg-2 col-md-2">
                                                        <input type="submit" id="addReply" class="site-btn"
                                                               value="  작성">
                                                    </td>
                                                </tr>
                                            </table>
                                            <table id="rtable" align="center">
                                            </table>
                                        </form>
                                    </div>
                                    <div th:if="${#strings.isEmpty(userid)}">
                                        <textarea placeholder="댓글을 작성하시려면 로그인해주세요." readonly></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="fragments/index :: footer"></th:block>

</body>
<script>
    $(document)
        .ready(function () {
            $.ajax({
                url: '/community/postdetail',
                type: 'post',
                data: {boardcode: $('#boardcode').val()},
                success: function (data) {
                    $(data).each(function () {
                        $('#rtable').append('<tr><td class="col-lg-2 col-md-2">' + this.writer + '</td><td class="col-lg-8 col-md-8" align="left">' + this.content
                            + '</td><td class="col-lg-2 col-md-2">' + this.date + '</td></tr>')
                    })
                }
            })
        })
        .on('click', '#addReply', function () {
            $.ajax({
                url: '/community/newreply',
                type: 'post',
                data: {
                    writer: $('#writer').text(),
                    content: $('textarea#content').val(),
                    boardcode: $('#boardcode').val()
                },
                beforeSend: function () {
                    $('#rtable').empty()
                },
                success: function (data) {
                    $(data).each(function () {
                        $('#rtable').append('<tr><td>' + this.writer + '</td><td>' + this.content
                            + '</td><td>' + this.date + '</td></tr>')
                    })
                }
            })
        })

        .on('click', '#delete', function () {
            var answer = confirm('정말 삭제하시겠습니까?')
            if (answer) {
                location.href = "/community/delete?boardcode=" + $('#boardcode').val()
            } else {
                return false;
            }
        })

        .on('click', '#modify', function () {
            location.href = "/community/modifypost?boardcode=" + $('#boardcode').val()
        })


</script>

</html>