<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<style>

</style>
<body>
<p align=right><a id="login" href='Login'>로그인</a>
    &nbsp;&nbsp;<a id="signin" href='Signin'>회원가입</a></p>
<h1 align=center>WITH PET</h1>
<nav>
    <a href=#>숙소</a>
    <a href=#>카페</a>
    <a href=#>맛집</a>
    <a href=#>상점</a>
    <a href="/community">게시판</a>
</nav>
<h2>게시물 작성</h2>

<form action="newpost" method="post">
    제목&nbsp;<input type="text" name="title"><br><br>
    내용&nbsp;<textarea id="summernote" name="content" style="width:500px"></textarea>
    <input type="hidden" name="boardCode" id="boardcode" th:value="${lastBoardCode} + 1">
    <div style="text-align:center; margin:10px">
        <input type="submit" value="제출">&nbsp;<input type="button" value="취소">
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</body>
<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            placeholder: 'Hello Bootstrap 4',
            tabsize: 2,
            height: 200,
            callbacks : {
                onImageUpload : function(files, editor, welEditable) {
                    for (var i = 0; i < files.length; i++) {
                        sendFile(files[i], this);
                    }
                }
            }
        });
    })
// function sendFile(file, editor) {
//     var form_data = new FormData();
//     form_data.append('file', file);
//     $.ajax({
//         data : form_data,
//         type : "POST",
//         url : '/community/newpost',
//         cache : false,
//         contentType : false,
//         enctype : 'multipart/form-data',
//         processData : false,
//         success : function(url) {
//             $(editor).summernote('insertImage', url, function($image) {
//                 $image.css('width', "25%");
//             });
//         }
//     });
// }

</script>
</html>