<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY review</title>
    <th:block th:replace="fragments/index::style"></th:block>
<!--    <th:block th:fragment="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    </th:block>-->
</head>
<th:block th:fragment="style">
    <style>
        .top{
            width:100px;
            height:100px;
            border-radius: 70%;
            overflow: hidden;
            background-color:pink;
        }
        #img_profile{
        <!--  width:100px;
        height:100px;-->
            width:100%;
            height:100%;
            object-fit:cover;
        }
    </style>
</th:block>
<body>


<th:block th:fragment="nav">
    <ul class="nav flex-column" id="myTab" role="tablist" th:align="left">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="reservation-tab" data-bs-toggle="tab" data-bs-target="#reservation" type="button" role="tab" aria-controls="reservation" aria-selected="true" aria-current="page" href="/mypage/booking">예약내역</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="save-tab" data-bs-toggle="tab" data-bs-target="#save" type="button" role="tab" aria-controls="save" aria-selected="false" href="/mypage/myshop">저장목록</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false" href="/mypage/review">내 후기</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="mywriting-tab" data-bs-toggle="tab" data-bs-target="#mywriting" type="button" role="tab" aria-controls="mywriting" aria-selected="false" href="/mypage/post">내가 남긴 글</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="manager-tab" data-bs-toggle="tab" data-bs-target="#manager" type="button" role="tab" aria-controls="manager" aria-selected="false" href="/mypage/manager">관리자 등록</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="business-tab" data-bs-toggle="tab" data-bs-target="#business" type="button" role="tab" aria-controls="business" aria-selected="false" href="/businessPage">사업자</a>
        </li>
    </ul>
</th:block>


<!--<div class="container">-->
<!--    <div class="top">-->
<!--&lt;!&ndash;        <img src="dd.JPG">OOO님&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;포인트&ndash;&gt;-->
<!--    </div>-->

<!--    <div class="contents">-->
<!--        <div class="row">-->
<!--            <th:block th:fragment="menubar">-->
<!--            <div class="col-sm-3" style="text-align: right; margin-right: 20px" >-->
<!--                <div style="height:120px"><a href="/mypage/booking">예약내역</a></div>-->
<!--                <div style="height:120px"><a href="/mypage/myshop">저장목록</a></div><br><br>-->
<!--                <div style="height:120px"><a href="/mypage/review">내 후기</a></div><br><br>-->
<!--                <div style="height:120px"><a href="/mypage/post">내가 남긴 글</a></div>-->
<!--&lt;!&ndash;                <div style="height:120px"><a href="/mypage/manager">관리자 등록</a></div>&ndash;&gt;-->
<!--            </div>-->
<!--            </th:block>-->
<!--            <div class="col-sm-8">-->
<!--                <div class="card mb-3" style="max-width: 540px;" th:each="book, i:${bookList}">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-text" th:text="|${book.getHotelname()} / ${book.getRoomname}|"></h5><br>-->
<!--                        <h5 class="card-text" th:text="|${book.getCheckin()} ~ ${book.getCheckout()} (${book.getName()})|"></h5><br>-->
<!--                        <p class="card-text" th:text="${book.getDetail()}"></p>-->
<!--                        &lt;!&ndash;                            <p class="card-text" th:text="|${book.getTotal()}원|"></p>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        <a th:href="@{/mypage/booking/delete(bookid=${book.getBookid()})}">&ndash;&gt;-->
<!--                        &lt;!&ndash;                            <button style="float:right;" id="btnDelete">예약 취소</button>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        </a>&ndash;&gt;-->
<!--                        <a th:href="@{/mypage/booking/change(bookid=${book.getBookid()})}">-->
<!--                            <button style="float:right;">예약 변경</button>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>