<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>사업자 등록</title>

    <th:block th:replace="fragments/index::style"></th:block>
</head>
<style>
    #main {
        margin-top: 15px;
    }
</style>
<body>
<div th:replace="fragments/index :: header"></div>

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>회원정보</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Info</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
        <div class="row">
        <div class="col-3" id="leftbar">
            <div class="col-12">
                <br><br>
                <h5 th:text="|${userid}님|"></h5>
            </div>
            <div class="shop__sidebar">
                <div class="shop__sidebar__accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="shop__sidebar__categories">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" id="reservation-tab" href="/mypage/booking">예약내역</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="save-tab" href="/mypage/myshop">저장목록</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="review-tab" href="/mypage/review">내 후기</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="mywriting-tab" href="/mypage/post">내가 남긴 글</a>
                                            </li>

                                        </ul>
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" id="manager-tab" href="/mypage/manager">관리자 등록</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="business-tab" aria-current="page"
                                                   href="/businessPage">사업자</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-9" id="main">
            <div class="row">
                <div class="tab-content">
                    <div class="tab-pane" id="reservation" role="tabpanel" aria-labelledby="reservation-tab"
                         th:each="book, i:${bookList}">
                        <div class="card-body">
                            <h5 class="card-text" th:text="|${book.getHotelname()} / ${book.getRoomname}|"></h5><br>
                            <h5 class="card-text"
                                th:text="|${book.getCheckin()} ~ ${book.getCheckout()} (${book.getName()})|"></h5><br>
                            <p class="card-text" th:text="${book.getMobile()}"></p>
                            <p class="card-text" th:text="${book.getDetail()}"></p>
                            <a th:href="@{/mypage/booking/change(bookid=${book.getBookid()})}">
                                <button style="float:right;">예약 변경</button>
                            </a>
                        </div>
                    </div>

                    <div class="tab-pane" id="save" role="tabpanel" aria-labelledby="save-tab">
                    </div>

                    <div class="tab-pane" id="review" role="tabpanel" aria-labelledby="review-tab">
                    </div>

                    <div class="tab-pane" id="mywriting" role="tabpanel" aria-labelledby="mywriting-tab">
                    </div>

                    <div class="tab-pane" id="manager" role="tabpanel" aria-labelledby="manager-tab">
                    </div>

                    <div class="tab-pane active" id="business" role="tabpanel" aria-labelledby="business-tab">
                        <div align="center">
                            <p th:text="|사업자 번호 : ${businessId}|"></p>
                            <form action="appendProd" method="get">
                                <button class="primary-btn" type="submit">상품등록하기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block th:replace="fragments/index :: footer"></th:block>
</body>


</html>