<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
<h1 align="center">WITH PET</h1>
<form action="/signup/create" method="get"></form>
    <table align="center">
        <tr>
            <td>ID</td><td><input type=text id="userid" name="userid"></td>
        </tr>
        <tr>
            <td>PASSWORD</td><td><input type="password" id="password" name="password"></td>
        </tr>
        <tr>
            <td colspan="3"><input type="checkbox">로그인 상태 유지</td>
        </tr>
        <tr>
            <td colspan="3" align="center"><button type="submit">로그인</button></td>
        </tr>
        <tr>
            <td colspan="3" align="center"><a href>홈으로 돌아가기 | </a><a href>회원가입 </a></td>
        </tr>
    </table>
</form>
</body>
</html>