<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MYPAGE</title>
    <th:block th:replace="fragments/index::style"></th:block>
</head>

<body>
<style>

    div.container {
    }

    div.header div.footer {
        clear: left
    }

    div.updatescore fieldset {
        display: inline-block;
        direction: rtl;
        border: 0;
    }

    div.updatescore fieldset legend {
        text-align: right;
    }

    div.updatescore input[type=radio] {
        display: none;
    }

    div.updatescore label {
        font-size: 3em;
        color: transparent;
        text-shadow: 0 0 0 #f0f0f0;
    }

    div.updatescore label:hover {
        text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
    }

    div.updatescore label:hover ~ label {
        text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
    }

    div.updatescore input[type=radio]:checked ~ label {
        text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
    }

    .rating {
        color: sandybrown;
    }
</style>

<div th:replace="fragments/index :: header"></div>


<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>회원정보</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Info</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<div class="container">
    <div class="row">
        <div class="col-3" id="leftbar">
            <div class="col-12">
                <br><br>
                <h5 th:text="|${userLogined}님|"></h5>
            </div>
            <div class="shop__sidebar">
                <div class="shop__sidebar__accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div th:replace="fragments/mypage :: sideBar"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="tab-content">
                    <div class="tab-pane" id="reservation" role="tabpanel" aria-labelledby="reservation-tab">
                    </div>
                    <br><br><br>
                    <div class="tab-pane" id="save" role="tabpanel" aria-labelledby="save-tab">
                    </div>

                    <div class="tab-pane active" id="review" role="tabpanel" aria-labelledby="review-tab">
                        <th:block th:each="shopReviewDTO, index : ${shopReviewDTOList}">
                            <div class="card mb-2" style="max-width: 700px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img th:src="${shopReviewDTO.path}" class="img-fluid rounded-start"
                                             style="object-fit: cover; width: 100%; height: 15vw">
                                    </div>

                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <h5 class="card-title"
                                                        th:text="${shopReviewDTO.cafe.name}"></h5>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="card-score">
                                                        <th:block
                                                                th:if="${shopReviewDTO.shopreview.getScore()==5}">
                                                            <div class="rating">★★★★★</div>
                                                        </th:block>
                                                        <th:block
                                                                th:if="${shopReviewDTO.shopreview.getScore()==4}">
                                                            <div class="rating">★★★★</div>
                                                        </th:block>
                                                        <th:block
                                                                th:if="${shopReviewDTO.shopreview.getScore()==3}">
                                                            <div class="rating">★★★</div>
                                                        </th:block>
                                                        <th:block
                                                                th:if="${shopReviewDTO.shopreview.getScore()==2}">
                                                            <div class="rating">★★</div>
                                                        </th:block>
                                                        <th:block
                                                                th:if="${shopReviewDTO.shopreview.getScore()==1}">
                                                            <div class="rating">★</div>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-9"
                                                     th:text="${shopReviewDTO.shopreview.getContent()}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2"
                                         th:if="${shopReviewDTO.shopreview.getUserid()==userLogined}"
                                         style="margin: auto" align="center">
                                        <!--수정 모달-->
                                        <form th:action="@{'/mypage/review/update'}" method="post">
                                            <button type="button" th:id="${index}"
                                                    class="btn btn-outline-primary btn-sm"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#review-edit-Modal"
                                                    th:attr="data-bs-content=${shopReviewDTO.shopreview.getContent()},
                                            data-bs-score=${shopReviewDTO.shopreview.getScore()},data-bs-rid=${shopReviewDTO.shopreview.getRid()}"
                                                    data-bs-userid=""
                                                    data-bs-shopid="">수정
                                            </button>
                                            <div class="modal fade" id="review-edit-Modal" tabindex="-1"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                id="exampleModalLabel">
                                                                리뷰 수정하기</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="updatescore">
                                                                <fieldset>
                                                                    <span class="text-bold">별점을 선택하세요</span>
                                                                    <input type="radio" name="score"
                                                                           value="5" id="rate1_"><label
                                                                        for="rate1_">★</label>
                                                                    <input type="radio" name="score"
                                                                           value="4" id="rate2_"><label
                                                                        for="rate2_">★</label>
                                                                    <input type="radio" name="score"
                                                                           value="3" id="rate3_"><label
                                                                        for="rate3_">★</label>
                                                                    <input type="radio" name="score"
                                                                           value="2" id="rate4_"><label
                                                                        for="rate4_">★</label>
                                                                    <input type="radio" name="score"
                                                                           value="1" id="rate5_"><label
                                                                        for="rate5_">★</label>
                                                                </fieldset>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="message-text"
                                                                       class="col-form-label">내용</label>
                                                                <textarea class="form-control"
                                                                          id="message-text"
                                                                          name="content"></textarea>
                                                                <input type="hidden" id="review-id"
                                                                       name="rid">
                                                            </div>
                                                            <input type="hidden" name="shopid"
                                                                   th:value="${shopReviewDTO.shopreview.getShopid()}">
                                                            <!--                                                        <input type="hidden" name="rid" th:value="${review.getRid()}">-->
                                                            <input type="hidden" name="userid"
                                                                   th:value="${shopReviewDTO.shopreview.getUserid()}">
                                                            <input type="hidden" name="date"
                                                                   id="currentTime"
                                                                   th:value="${shopReviewDTO.shopreview.getDate()}">
                                                            <input type="hidden" name="score"
                                                                   id="score-value">
                                                        </div>

                                                        <script>
                                                            document.getElementById("currentTime").value = new Date(+new Date() + 3240 * 10000).toISOString().split("T")[0];
                                                        </script>

                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                    class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">닫기
                                                            </button>
                                                            <button type="submit"
                                                                    class="btn btn-primary">
                                                                수정
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <script>
                                            var myModal = document.getElementById('myModal')
                                            var myInput = document.getElementById('myInput')

                                            myModal.addEventListener('shown.bs.modal', function () {
                                                myInput.focus()
                                            })
                                        </script>
                                        <form th:action="@{'/mypage/review/delete'}" method="get">
                                            <input type="hidden" name="shopid"
                                                   th:value="${shopReviewDTO.shopreview.getShopid()}">
                                            <input type="hidden" name="rid"
                                                   th:value="${shopReviewDTO.shopreview.getRid()}">
                                            <button class="btn btn-outline-danger btn-sm" name="delete">
                                                삭제
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>

                    <div class="tab-pane" id="mywriting" role="tabpanel" aria-labelledby="mywriting-tab">

                    </div>

                    <div class="tab-pane" id="manager" role="tabpanel" aria-labelledby="manager-tab">

                    </div>

                    <div class="tab-pane" id="business" role="tabpanel" aria-labelledby="business-tab">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>

<th:block th:replace="fragments/index :: footer"></th:block>
<script src='https://code.jquery.com/jquery-3.4.1.js'></script>
<script>
    const commentEditModal = document.querySelector("#review-edit-Modal")

    commentEditModal.addEventListener("show.bs.modal", function (event) {

        const triggerBtn = event.relatedTarget

        const content = triggerBtn.getAttribute("data-bs-content");
        const score = triggerBtn.getAttribute("data-bs-score");
        const rid = triggerBtn.getAttribute("data-bs-rid");

        console.log(rid);
        document.querySelector("#message-text").value = content
        document.querySelector("#score-value").value = score
        document.querySelector("#review-id").value = rid

    })
</script>
<script>
    $(document)
        //별점 미선택 후기 작성시
        .on("click", "#comment-create-btn", function () {
            if ($(':radio[name="score"]:checked').length < 1) {
                alert('별점을 선택해주세요.');
                return false;
            }
        })

</script>

</body>
</html>