<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MY PAGE</title>
</head>
<body>
<style>
  body{
    font-size: 12px;
    margin-left: 50px;
  }
  .post{
    float:left;
    margin:10px;
  }
  #login,#signin,#cafename{
    text-decoration:none;
    color:black;
  }
  nav a{
    text-decoration:none;
    color:black;
    margin:2em;
  }
  nav{
    display:flex;
    justify-content:center;
  }
</style>
<body>
<p align=right><a id="login" href='Login'>로그인</a>
  &nbsp;&nbsp;<a id="signin" href='Signin'>회원가입</a></p>
<h1 align=center>WITH PET</h1>
<nav>
  <a href="#">숙소</a>
  <a href="#">카페</a>
  <a href="#">맛집</a>
  <a href="#">상점</a>
  <a href="#">게시판</a>
</nav>

게시판&nbsp;<input type="button" id="newpost" value="+"><br>

<div class="post">
  <a href="">
    <img src="게시물사진.png" width="250px" height="200px"><br>
    게시물 제목<br>
    게시물 내용<br>
  </a><br>
  <a href="">
    <img src="userimg.png" width="40px" height="40px" style="float:left">&nbsp;
    <div style="float:left">사용자 아이디<br>
      게시물 등록 날짜&nbsp;조회수&nbsp;좋아요&nbsp;댓글</div>
  </a><br><br><br><br>
</div>

<div class="post">
  <a href="">
    <img src="게시물사진.png" width="250px" height="200px"><br>
    게시물 제목<br>
    게시물 내용<br>
  </a><br>
  <a href="">
    <img src="userimg.png" width="40px" height="40px" style="float:left">&nbsp;
    <div style="float:left">사용자 아이디<br>
      게시물 등록 날짜&nbsp;조회수&nbsp;좋아요&nbsp;댓글</div>
  </a><br><br><br><br>
</div>

<div class="post">
  <a href="">
    <img src="게시물사진.png" width="250px" height="200px"><br>
    게시물 제목<br>
    게시물 내용<br>
  </a><br>
  <a href="">
    <img src="userimg.png" width="40px" height="40px" style="float:left">&nbsp;
    <div style="float:left">사용자 아이디<br>
      게시물 등록 날짜&nbsp;조회수&nbsp;좋아요&nbsp;댓글</div>
  </a><br><br><br><br>
</div>

<div class="post">
  <a href="">
    <img src="게시물사진.png" width="250px" height="200px"><br>
    게시물 제목<br>
    게시물 내용<br>
  </a><br>
  <a href="">
    <img src="userimg.png" width="40px" height="40px" style="float:left">&nbsp;
    <div style="float:left">사용자 아이디<br>
      게시물 등록 날짜&nbsp;조회수&nbsp;좋아요&nbsp;댓글</div>
  </a><br><br><br><br>
</div>

<div class="post">
  <a href="">
    <img src="게시물사진.png" width="250px" height="200px"><br>
    게시물 제목<br>
    게시물 내용<br>
  </a><br>
  <a href="">
    <img src="userimg.png" width="40px" height="40px" style="float:left">&nbsp;
    <div style="float:left">사용자 아이디<br>
      게시물 등록 날짜&nbsp;조회수&nbsp;좋아요&nbsp;댓글</div>
  </a><br><br><br><br>
</div>

<div class="post">
  <a href="">
    <img src="게시물사진.png" width="250px" height="200px"><br>
    게시물 제목<br>
    게시물 내용<br>
  </a><br>
  <a href="">
    <img src="userimg.png" width="40px" height="40px" style="float:left">&nbsp;
    <div style="float:left">사용자 아이디<br>
      게시물 등록 날짜&nbsp;조회수&nbsp;좋아요&nbsp;댓글</div>
  </a><br><br><br><br>
</div>

<div class="postbar" style="clear:both; text-align: center;">
  <a href=""><이전</a>&nbsp;
  <a href="">1</a>&nbsp;<a href="">2</a>&nbsp;<a href="">3</a>&nbsp;<a href="">4</a>
  <a href="">다음></a>
</div><br>

<div class="searchpost" style="text-align: center;">
  <select>
    <option>제목</option>
    <option>작성자</option>
  </select>
  <input type=text id="searchpost" name="searchpost">
  <input type="button" value="검색">
</div>

</body>
</html>