<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTAURANT</title>
    <th:block th:replace="fragments/index::style"></th:block>
</head>
<body>
<style>
    /*div.container{}*/
    /*div.header div.footer{clear:left}*/
    /*div.left{float:left;}*/
    /*.header{height: 200px;}*/
    /*.top{height: 70px;*/
    /*    margin: auto;}*/
    /*.footer{height: 30px;}*/
    /*.left{height: 500px; width:200px;}*/
    /*.contents{height: 500px;}*/
    #top{
        margin-bottom: 5%;
    }
    #search ,#list {
        margin-bottom: 5%;
    }
    #submit, #btn_search{
        background-color: #000;
        color: white;
    }
    #submit:hover, #btn_search:hover{
        background: white;
        border: 1px solid;
        color:  #000;
    }
    #btnLike,#heart_img{text-align:center;}
</style>

<div th:replace="fragments/index :: header"></div>
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Restaurant</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/Restaurant-list">Restaurant</a>
                        <span>List</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="top"></div>
<div class="container">

    <form action="/Restaurant-list/search" method="GET">
        <div class="search" align="center">
            <input name="keyword" id="search" type="text" placeholder="지역을 입력해주세요">
            <input type="submit" th:value="검색" id="btn_search">
        </div>
    </form>

    <div  class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" id="list" th:each="cafeList: ${cafeList}">
            <input type="hidden" th:value="${cafeList.cafe.getShopid()}">
            <input type="hidden" th:value="${cafeList.cafe.getShoptype().getTypeid()}">
            <div class="card h-100">
                <a th:href="@{/cafeinfo(shopid=${cafeList.cafe.getShopid()})}"><img th:src="${cafeList.path}" class="card-img-top" alt="" width="300" height="300"></a>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-10">
                            <h5 class="card-title" th:text="${cafeList.cafe.name}"></h5>
                        </div>
                        <div class="col-sm-2" id="heart_img">
                            <a href="javascript:return false;" id="btnLike" th:name="${cafeList.cafe.getShopid()}">
                                <img th:if="${cafeList.islike}" src="/image/redheart.png"
                                     th:id="|btnLike${cafeList.cafe.shopid}|" width="25" height="25" alt="">
                                <img th:if="${!cafeList.islike}" src="/image/heart.png"
                                     th:id="|btnLike${cafeList.cafe.shopid}|" width="25" height="25" alt="">
                                <p th:text="${cafeList.likeCount}" th:id="|likeCount${cafeList.cafe.shopid}|"
                                   name="likeCount" id="cnt"></p>
                            </a>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p th:text="|⭐ ${cafeList.getScoreAvg()} / 5.0|"></p></li>
                        <li class="list-group-item" th:text="${cafeList.cafe.getRegion().getRegname()}"></li>
<!--                        <li class="list-group-item" th:text="${cafeList.cafe.getShoptype().getTypename()}" ></li>-->
                        <li class="list-group-item" >
                        <span th:each="feat: ${cafeList.cafe.getShopFeats()}" th:text="${feat.getFeatname()}+' '" ></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/index :: footer"></th:block>
</body>
<script src='https://code.jquery.com/jquery-3.4.1.js'></script>
<script>
    $(document)
        .on('click', '#btnLike', function () {
            shopid = $(this).attr('name')
            $.ajax({
                type: 'get',
                url: '/append_shoplike?shopId=' + shopid,
                success: function (data) {
                    ID = '#btnLike' + shopid
                    if (data == '1') {
                        $(ID).attr("src", "/image/redheart.png")
                        $(ID).attr("width", "25px")
                        $(ID).attr("height", "25px")
                        $('#likeCount' + shopid).text(parseInt($('#likeCount' + shopid).text()) + 1)
                    } else {
                        console.log('여기')
                        $(ID).attr("height", "25px")
                        $(ID).attr("width", "25px")
                        $(ID).attr("src", "/image/heart.png")
                        $('#likeCount' + shopid).text(parseInt($('#likeCount' + shopid).text()) + 1)
                    }
                }
            })
        })
</script>
</html>