<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="signup" method="post">
<table align="center">

    <tr>
        <td>ID</td><td><input type=text name="userId"></td><td><input type="button" value="중복확인"></td>
    </tr>
    <tr>
        <td>PASSWORD</td><td><input type=password name="password"></td>
    </tr>
    <tr>
        <td>NAME</td><td><input type=text name="name"></td>
    </tr>
    <tr>
        <td>MOBILE</td><td><input type=text name="mobile"></td>
    </tr>
    <button type="submit">등록</button>
</form>
</table>
</body>
</html>
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
