<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace="fragments/index::style"></th:block>
</head>
<style>
    body{
        margin-left: 50px;
    }
    img, .rating{
        float: left;
        margin: 10px;
    }
    #login,#signin,#cafename{
        text-decoration:none;
        color:black;
    }
    nav a{
        text-decoration:none;
        color:black;
        margin:2em;
    }
    nav{
        display:flex;
        justify-content:center;
    }
</style>
<body>

<div th:replace="fragments/index :: header"></div>

<div class="row">
    <img class="col" src="/image/poolvil.jfif" style="size: auto">
    <div class="col">
        <br>
        <h5 th:text="${shop.getName()}"></h5>&nbsp;<input type="button" value="좋아요">&nbsp;★★★★★(댓글수)<br><br>
        <th:block th:each="feat : ${feats}">
            <span th:text="${feat.getFeatname()}"></span>
        </th:block><br>
        <th:block th:text="${shop.getIntro()}"></th:block><br>
    </div>
</div>
<br><br>

<div>
    <h2>이용안내</h2>
    <th:block th:text="${shop.getInfo()}"></th:block>
</div>
<br><br>

<div>
    <div class="row">
        <div class="datebar" style="margin:10px">
            <input type="date">&nbsp;<input type="date">&nbsp;<input type="text" readonly>&nbsp;
            <input type="button" value="변경">
        </div>
    </div>
    <br>

    <div class="row" th:each="room:${hotelrooms}" style="width: 700px">
        <img class="col-4" src="/image/poolvil.jfif" style="width: 200px; height: 100px">
        <div class="col">
            <span th:text="${room.getRoomname()}"></span><br>
            <span th:text="${room.getContent()}"></span><br>
            <span th:text="${room.getPrice()}"></span><br>
            <input type="button" style="float: right" value="예약하기">
        </div>
    </div>
    <form action="/hotel/reservation" method="post">
        <div class="row">
            <div class="datebar" style="margin:10px">
                <input type="hidden" name="shopid" id="shopid" th:value="${shop.getShopid()}">
                <input type="date" name="checkin" id="checkin" th:value="${checkin}">&nbsp;
                <input type="date" name="checkout" id="checkout" th:value="${checkout}">&nbsp;
                인원수&nbsp;<input type="text" name="person" id="person" th:value="${person}" readonly>&nbsp;
                <input type="button" value="변경" id="submit">
            </div>
        </div>
        <br>
        <div id="rooms">
            <div class="row" th:each="hotelroom:${hotelrooms}" style="width: 700px; height:130px">
                <img class="col-4" src="/image/poolvil.jfif" style="width: 200px; height: 100px">
                <div class="col">
                        <input type="hidden" th:value="${hotelroom.getRoomid()}" name="roomid">
                        <span th:text="${hotelroom.getRoomname()}"></span><br>
                        <span th:text="${hotelroom.getContent()}"></span><br>
                        <span th:text="${hotelroom.getPerson()}"></span><br>
                        <span th:if="${#strings.equals(hotelroom.getAvail(), 'true')}"
                                th:text="|${hotelroom.getPrice()}원|"></span>
                        <span th:unless="${#strings.equals(hotelroom.getAvail(), 'true')}">예약 마감</span><br>
                        <input type="submit" style="float: right" value="예약하기" id="book">
                </div>
            </div>
        </div>
    </form>
</div>
<br><br>

<div class="row">
    <h2>기본정보</h2>
    <img src="../../static/지도.png" style="float:left">
    <div>
        <br>
        전화번호: <th:block th:text="${shop.getTel()}"></th:block><br>
        주소: <th:block th:text="${shop.getAddress()}"></th:block>
    </div>
</div>
<br><br>
<div>
    <h2>사용자 후기</h2>
    <div class="row">
        사용자 이름<br>
        별점<br>
        후기 내용<br>
        후기 쓴 날짜<br>
        <br>
    </div>
    <div class="row">
        사용자 이름<br>
        별점<br>
        후기 내용<br>
        후기 쓴 날짜
    </div>
</div>
<br><br>

<div>
    <h2>블로그 후기</h2>
    <div class="card mb-3" th:each="item:${review.items}" style="width: 700px">
        <a th:href="${item.link}">
            <div class="card-body" >
                <h3 class="card-title" th:utext="${item.title}"></h3><br>
                <p class="card-text" th:utext="${item.description}"></p><br>
                <p class="card-text">
                    <small class="text-muted" th:utext="${item.bloggername}"></small>&nbsp;
                    <small class="text-muted" th:utext="${item.postdate}"></small>
                </p>
            </div>
        </a>
    </div>
    <div class="postbar" style="clear:both; text-align: center;">
        <a th:href="@{https://search.naver.com/search.naver(query=${shop.getName()})}">검색 결과 더 보기</a>
    </div><br>
</div>



<th:block th:replace="fragments/index :: footer"></th:block>

</body>
<script>

    $(document)
        .on('click','#submit',function () {
            var today = new Date().toISOString().substring(0, 10)

            if ($('#checkin').val() >= $('#checkout').val() || $('#checkin').val() < today) {
                alert("날짜를 확인해주세요.")
                return false;
            } else if ($('#person').val() <= 0) {
                alert("인원수를 확인해주세요.")
                return false;
            }

            $.ajax({
                url:"/hotel/detail",
                type:"post",
                data: {shopid:$('#shopid').val(),checkin:$('#checkin').val(),
                    checkout:$('#checkout').val(),person:$('#person').val()},
                success:function (r) {
                    var str = ""
                    $.each(r, function(index,item){
                        str += '<div class="row" style="width: 700px; height:130px">'
                        str += '<img className="col-4" src="/image/poolvil.jfif" style="width: 200px; height: 100px">'
                        str += '<div class="col">'
                        str += '<span>'+item["roomname"]+'</span><br>'
                        str += '<span>'+item["content"]+'</span><br>'
                        str += '<span>'+item["person"]+'</span><br>'
                        if(item["avail"]=="true"){
                            str += '<span>'+item["price"]+'원</span><br>'
                        } else{
                            str += '<span>예약 마감</span><br>'
                        }
                        str += '<input type="button" style="float: right" value="예약하기">'
                        str += '</div>'
                        str += '</div>'
                    })
                    $('#rooms').html(str)
                }
            })

        })

        .on('click','#book',function (){
            $.ajax({
                url:"/checkuser",
                type:"post",
                async:false,
                success:function (result){
                    if(result==true){
                        flag = true;
                    } else{
                        alert('로그인이 필요한 서비스입니다')
                        flag = false
                    }
                }
            })
            return flag;
        })


    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(document.getElementById("address").innerHTML, function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
</script>
</html>