<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace="fragments/common::style"></th:block>
</head>
<style>
    body{
        margin-left: 50px;
    }
    #login,#signin,#cafename{
        text-decoration:none;
        color:black;
    }
    nav a{
        text-decoration:none;
        color:black;
        margin:2em;
    }
    nav{
        display:flex;
        justify-content:center;
    }
</style>
<body>

<div th:replace="fragments/common :: header"></div>

<h2>호텔 찾기</h2>
<div>
    <input type="date">&nbsp;<input type="date">&nbsp;
    <select>
        <option>평점순</option>
        <option>요금순</option>
    </select>&nbsp;
    <select>
        <option>강아지</option>
        <option>고양이</option>
    </select>&nbsp;
    <select>
        <option>특성1</option>
        <option>특성2</option>
    </select>&nbsp;
</div><br>

<div class="row" th:each="shop : ${shops}">
    <div class="col">
        <img src="../../static/숙소기본이미지.png" style="float:left; margin:10px">
    </div>
    <div class="col" >
        <th:block th:text="${shop.getName()}"></th:block> | 별점(댓글수)<br>
        <th:block th:each="feat:${shop.getShopFeats()}">
            <th:block th:text="${feat.getFeatname()}"></th:block>
        </th:block><br>
        50,000(숙박 가격)<br>
    </div>
</div>


<div>
    <img src="../../static/숙소기본이미지.png" style="float:left; margin:10px">
    <div style="float:left; margin:10px">
        숙소명 | 별점(댓글수)<br>
        특성1, 특성2<br><br>
        50,000(숙박 가격)
    </div><br><br><br><br><br><br>
</div>
<div>
    <img src="../../static/숙소기본이미지.png" style="float:left; margin:10px">
    <div style="float:left; margin:10px">
        숙소명 | 별점(댓글수)<br>
        특성1, 특성2<br><br>
        50,000(숙박 가격)
    </div><br><br><br><br><br><br>
</div>

<th:block th:replace="fragments/common :: footer"></th:block>

</body>
<script></script>
</html>