<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace="fragments/index::style"></th:block>
</head>
<style>
    body{
        margin-left: 50px;
    }
    img, .rating{
        float: left;
        margin: 10px;
    }
</style>
<body>

<div th:replace="fragments/index :: header"></div>

<!--<div class="row">
    <img class="col" src="/image/poolvil.jfif" style="size: auto">
    <div class="col">
        <br>
        <h5 th:text="${shop.getName()}"></h5>&nbsp;<input type="button" value="좋아요">&nbsp;★★★★★(댓글수)<br><br>
        <th:block th:each="feat : ${feats}">
            <span th:text="${feat.getFeatname()}"></span>
        </th:block><br>
        <th:block th:text="${shop.getIntro()}"></th:block><br>
    </div>
</div>
<br><br>

<div>
    <h2>이용안내</h2>
    <th:block th:text="${shop.getInfo()}"></th:block>
</div>
<br><br>
<div>
    <form action="/hotel/booking" method="post">
        <div class="row">
            <div class="datebar" style="margin:10px">
                <input type="hidden" name="shopid" id="shopid" th:value="${shop.getShopid()}">
                <input type="date" name="checkin" id="checkin" th:value="${checkin}">&nbsp;
                <input type="date" name="checkout" id="checkout" th:value="${checkout}">&nbsp;
                인원수&nbsp;<input type="text" name="person" id="person" th:value="${person}" readonly>&nbsp;
                <input type="button" value="변경" id="submit">
            </div>
        </div>
        <br>
        <div id="rooms">
            <div class="row" th:each="hotelroom:${hotelrooms}" style="width: 700px; height:130px">
                <img class="col-4" src="/image/poolvil.jfif" style="width: 200px; height: 100px">
                <div class="col">
                    <input type="hidden" th:value="${hotelroom.getRoomid()}" name="roomid">
                    <span th:text="${hotelroom.getRoomname()}"></span><br>
                    <span th:text="${hotelroom.getContent()}"></span><br>
                    <span th:text="${hotelroom.getPerson()}"></span><br>
                    <span th:if="${#strings.equals(hotelroom.getAvail(), 'true')}"
                            th:text="|${hotelroom.getPrice()}원|"></span>
                    <span th:unless="${#strings.equals(hotelroom.getAvail(), 'true')}">예약 마감</span><br>
                    <input type="submit" style="float: right" value="예약하기" id="book">
                </div>
            </div>
        </div>
    </form>
</div>
<br><br>

<div class="row">
    <h2>기본정보</h2>
    <div id="map" style="width:500px;height:400px;"></div>
    <div>
        <br>
        전화번호: <span th:text="${shop.getTel()}"></span><br>
        주소: <span th:text="${shop.getAddress()}" id="address"></span>
    </div>
</div>
<br><br>
<div>
    <h2>사용자 후기</h2>
    <div class="row">
        사용자 이름<br>
        별점<br>
        후기 내용<br>
        후기 쓴 날짜<br>
        <br>
    </div>
    <div class="row">
        사용자 이름<br>
        별점<br>
        후기 내용<br>
        후기 쓴 날짜
    </div>
</div>
<br><br>

<div>
    <h2>블로그 후기</h2>
    <div class="card mb-3" th:each="item:${review.items}" style="width: 700px">
        <a th:href="${item.link}">
            <div class="card-body" >
                <h3 class="card-title" th:utext="${item.title}"></h3><br>
                <p class="card-text" th:utext="${item.description}"></p><br>
                <p class="card-text">
                    <small class="text-muted" th:utext="${item.bloggername}"></small>&nbsp;
                    <small class="text-muted" th:utext="${item.postdate}"></small>
                </p>
            </div>
        </a>
    </div>
    <div class="postbar" style="clear:both; text-align: center;">
        <a th:href="@{https://search.naver.com/search.naver(query=${shop.getName()})}">검색 결과 더 보기</a>
    </div><br>
</div>-->


<!--version2-->
<section class="blog-hero spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="blog__hero__text">
                    <h2 th:text="${shop.getName()}"></h2>
                    <h6 th:text="${shop.getIntro()}"></h6>
                    <ul>
                        <li><input type="button" value="좋아요"></li>
                        <li>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span> - 5 Reviews</span>
                            </div>
                        </li>
                        <li>
                            <th:block th:each="feat : ${feats}">
                                <span th:text="${feat.getFeatname()}"></span>
                            </th:block><br>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="blog__details__pic">
                    <!--<img class="col" src="/image/poolvil.jfif" style="size: auto">-->
                    <img class="col" src="img/blog/details/blog-details.jpg" style="size: auto">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog__details__content">
                    <!--<div class="blog__details__text">
                        <p>Hydroderm is the highly desired anti-aging cream on the block. This serum restricts the
                            occurrence of early aging sings on the skin and keeps the skin younger, tighter and
                            healthier. It reduces the wrinkles and loosening of skin. This cream nourishes the skin
                            and brings back the glow that had lost in the run of hectic years.</p>
                        <p>The most essential ingredient that makes hydroderm so effective is Vyo-Serum, which is a
                            product of natural selected proteins. This concentrate works actively in bringing about
                            the natural youthful glow of the skin. It tightens the skin along with its moisturizing
                            effect on the skin. The other important ingredient, making hydroderm so effective is
                            “marine collagen” which along with Vyo-Serum helps revitalize the skin.</p>
                    </div>-->

                    <div class="container">
                        <!--상세설명-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product__details__tab">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">이용안내</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">기본정보</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">사용자후기</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">블로그후기</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                            <div class="product__details__tab__content">
                                                <th:block th:text="${shop.getInfo()}"></th:block>

                                                <form action="/hotel/booking" method="post">
                                                    <div class="row">
                                                        <div class="datebar" style="margin:10px">
                                                            <input type="hidden" name="shopid" id="shopid" th:value="${shop.getShopid()}">
                                                            <input type="date" name="checkin" id="checkin" th:value="${checkin}">&nbsp;
                                                            <input type="date" name="checkout" id="checkout" th:value="${checkout}">&nbsp;
                                                            인원수&nbsp;<input type="text" name="person" id="person" th:value="${person}" readonly>&nbsp;
                                                            <input type="button" value="변경" id="submit">
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div id="rooms">
                                                        <div class="row" th:each="hotelroom:${hotelrooms}" style="width: 700px; height:130px">
                                                            <img class="col-4" src="/image/poolvil.jfif" style="width: 200px; height: 100px">
                                                            <div class="col">
                                                                <input type="hidden" th:value="${hotelroom.getRoomid()}" name="roomid">
                                                                <span th:text="${hotelroom.getRoomname()}"></span><br>
                                                                <span th:text="${hotelroom.getContent()}"></span><br>
                                                                <span th:text="${hotelroom.getPerson()}"></span><br>
                                                                <span th:if="${#strings.equals(hotelroom.getAvail(), 'true')}"
                                                                      th:text="|${hotelroom.getPrice()}원|"></span>
                                                                <span th:unless="${#strings.equals(hotelroom.getAvail(), 'true')}">예약 마감</span><br>
                                                                <input type="submit" style="float: right" value="예약하기" id="book">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">이용안내</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#tabs-2" role="tab">기본정보</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">사용자후기</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">블로그후기</a>
                                            </li>
                                        </ul>

                                        <div class="tab-pane active" id="tabs-2" role="tabpanel">
                                            <div class="product__details__tab__content">
                                                <div class="product__details__tab__content__item" >
                                                    <div id="map" style="width:500px;height:400px;"></div>
                                                    <div>
                                                        <br>
                                                        전화번호: <span th:text="${shop.getTel()}"></span><br>
                                                        주소: <span th:text="${shop.getAddress()}" id="address"></span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">이용안내</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">기본정보</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">사용자후기</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">블로그후기</a>
                                            </li>
                                        </ul>

                                        <div class="tab-pane active" id="tabs-3" role="tabpanel">
                                            <div class="product__details__tab__content">
                                                <div class="product__details__tab__content__item" >

                                                    <div class="row">
                                                        사용자 이름<br>
                                                        별점<br>
                                                        후기 내용<br>
                                                        후기 쓴 날짜<br>
                                                        <br>
                                                    </div>
                                                    <div class="row">
                                                        사용자 이름<br>
                                                        별점<br>
                                                        후기 내용<br>
                                                        후기 쓴 날짜
                                                    </div>

                                                    <!--<div class="rating" style="float:left;">
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div style="float:right;">
                                                        <h5 align="right">id</h5>
                                                    </div>-->

                                                </div>
                                                <!--<div>
                                                    <p>A Pocket PC is a handheld computer, which features many of the same
                                                        capabilities as a modern PC. These handy little devices allow
                                                        individuals to retrieve and store e-mail messages, create a contact
                                                        file, coordinate appointments, surf the internet, exchange text messages
                                                        and more. Every product that is labeled as a Pocket PC must be
                                                        accompanied with specific software to operate the unit and must feature
                                                        a touchscreen and touchpad.</p>
                                                </div>-->
                                                <div>
                                                    <img src="">
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">이용안내</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">기본정보</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">사용자후기</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#tabs-4" role="tab">블로그후기</a>
                                            </li>
                                        </ul>

                                        <div class="tab-pane active" id="tabs-4" role="tabpanel">
                                            <div class="product__details__tab__content">
                                                <div class="product__details__tab__content__item" >
                                                    <div class="card mb-3" th:each="item:${review.items}" style="width: 700px">
                                                        <a th:href="${item.link}">
                                                            <div class="card-body" >
                                                                <h3 class="card-title" th:utext="${item.title}"></h3><br>
                                                                <p class="card-text" th:utext="${item.description}"></p><br>
                                                                <p class="card-text">
                                                                    <small class="text-muted" th:utext="${item.bloggername}"></small>&nbsp;
                                                                    <small class="text-muted" th:utext="${item.postdate}"></small>
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="postbar" style="clear:both; text-align: center;">
                                                        <a th:href="@{https://search.naver.com/search.naver(query=${shop.getName()})}">검색 결과 더 보기</a>
                                                    </div><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:replace="fragments/index :: footer"></th:block>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=55427368a7ad4ced6d2416666f61ad47&libraries=services"></script>
</body>
<script>

    $(document)
        .on('click','#submit',function () {
            var today = new Date().toISOString().substring(0, 10)

            if ($('#checkin').val() >= $('#checkout').val() || $('#checkin').val() < today) {
                alert("날짜를 확인해주세요.")
                return false;
            } else if ($('#person').val() <= 0) {
                alert("인원수를 확인해주세요.")
                return false;
            }

            $.ajax({
                url:"/hotel/detail",
                type:"post",
                data: {shopid:$('#shopid').val(),checkin:$('#checkin').val(),
                    checkout:$('#checkout').val(),person:$('#person').val()},
                success:function (r) {
                    $('#rooms').empty()
                    var str = ""
                    $.each(r, function(index,item){
                        str += '<div class="row" style="width: 700px; height:130px">'
                        str += '<img className="col-4" src="/image/poolvil.jfif" style="width: 200px; height: 100px">'
                        str += '<div class="col">'
                        str += '<span>'+item["roomname"]+'</span><br>'
                        str += '<span>'+item["content"]+'</span><br>'
                        str += '<span>'+item["person"]+'</span><br>'
                        if(item["avail"]=="true"){
                            str += '<span>'+item["price"]+'원</span><br>'
                        } else{
                            str += '<span>예약 마감</span><br>'
                        }
                        str += '<input type="button" style="float: right" value="예약하기">'
                        str += '</div>'
                        str += '</div>'
                    })
                    $('#rooms').html(str)
                }
            })

        })

        .on('click','#book',function (){
            $.ajax({
                url:"/checkuser",
                type:"post",
                async:false,
                success:function (result){
                    if(result==true){
                        flag = true;
                    } else{
                        alert('로그인이 필요한 서비스입니다')
                        location.href="/login"
                        flag = false
                    }
                }
            })
            return flag;
        })


    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };
    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);
    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();
    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(document.getElementById("address").innerHTML, function(result, status) {
        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {
            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });
            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
</script>
</html>