<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">

    <title>HOTEL</title>
    <th:block th:replace="fragments/index::style"></th:block>
</head>
<style>
    #top {

        margin-bottom: 5%;
    }

    #search {
        margin-bottom: 5%;
    }

    #submit, #btn_search {
        background-color: #000;
        color: white;
    }

    #submit:hover, #btn_search:hover {
        background: white;
        border: 1px solid;
        color: #000;
    }
    #btnLike,#heart_img{text-align:center;}
</style>
<body>

<div th:replace="fragments/index :: header"></div>


<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">

                    <h4>Hotel</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/hotel">Hotel</a>
                        <span>Search</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shopping-cart spad">
    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                <div id="top">
                    <form action="/hotel" method="post" id="frminfo">
                        <table align="center">
                            <tr>
                                <td><select name="order">
                                    <option th:selected="${#strings.equals(order, 'price')}" value="price">요금순</option>
                                    <option th:selected="${#strings.equals(order, 'score')}" value="score">평점순</option>
                                </select>&nbsp;
                                </td>
                                <td><select name="size">
                                    <option th:selected="${#strings.equals(size, '4')}" value="4">모든견종</option>
                                    <option th:selected="${#strings.equals(size, '1')}" value="1">소형견</option>
                                    <option th:selected="${#strings.equals(size, '2')}" value="2">중형견</option>
                                    <option th:selected="${#strings.equals(size, '3')}" value="3">대형견</option>
                                </select></td>
                                <td><input type="date" name="checkin" id="checkin" th:value="${checkin}">&nbsp;
                                    <input type="date" name="checkout" id="checkout" th:value="${checkout}">&nbsp;
                                </td>
                                <td>인원수&nbsp;<input type="number" th:value="${person}" name="person" id="person"
                                                    min="1"></td>
                                <td><input type="submit" th:value="조회" id="submit"></td>
                            </tr>
                        </table>
                    </form>
                </div>

                <form action="/hotel/search" method="GET">
                    <div class="search" align="center">
                        <input name="keyword" id="search" type="text" placeholder="지역을 입력해주세요">
                        <input type="submit" th:value="검색" id="btn_search">
                    </div>
                </form>

                <div class="container">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col" th:each="hotelList : ${hotelList}">
                            <div class="card h-100">
                                <a th:href="@{/hotel/detail(shopid=${hotelList.getShopid()})}" class="detail"><img
                                        th:src="${hotelList.path}" class="card-img-top" alt="" width="300" height="300"></a>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <h5 class="card-title" th:text="${hotelList.getName()}"></h5>
                                        </div>
                                        <div class="col-sm-2" id="heart_img">
                                            <a href="javascript:return false;" id="btnLike" th:name="${hotelList.shopid}">
                                                <img th:if="${hotelList.isLiked==1}" src="/image/redheart.png"
                                                     th:id="|btnLike${hotelList.shopid}|" width="25" height="25" alt="">
                                                <img th:if="${hotelList.isLiked==0}" src="/image/heart.png"
                                                     th:id="|btnLike${hotelList.shopid}|" width="25" height="25" alt="">
                                                <p th:text="${hotelList.getLikeCount()}" th:id="|likeCount${hotelList.shopid}|"
                                                   name="likeCount" id="cnt"></p>
                                            </a>
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><p th:text="|⭐ ${hotelList.getScoreAvg()} / 5.0|"></p></li>
                                        <li class="list-group-item"
                                            th:if="${#strings.equals(hotelList.getAvail(), 'true')}"
                                            th:text="|최저가 ${hotelList.getPrice()}원|"></li>
                                        <li class="list-group-item"
                                            th:unless="${#strings.equals(hotelList.getAvail(), 'true')}">예약 마감
                                        </li>
                                        <li class="list-group-item">
                                            <th:block th:each="feat:${hotelList.getShopFeats()}">
                                                <span class="card-text" th:text="${feat.getFeatname()}"></span>
                                            </th:block>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="fragments/index :: footer"></th:block>

</body>
<script>
    $(document)
        .on('click', '#submit', function () {
            var today = new Date().toISOString().substring(0, 10)

            if ($('#checkin').val() >= $('#checkout').val() || $('#checkin').val() < today) {
                alert("날짜를 확인해주세요.")
                return false;
            } else if ($('#person').val() <= 0) {
                alert("인원수를 확인해주세요.")
                return false;
            }

        })
        .on('click', '#btnLike', function () {
            shopId = $(this).attr('name')
            console.log(shopId)
            $.ajax({
                type: 'get',
                url: '/append_likehotel?shopId=' + shopId,
                success: function (data) {
                    ID = '#btnLike' + shopId
                    if (data == '1') {
                        $(ID).attr("src", "/image/redheart.png")
                        $(ID).attr("width", "25px")
                        $(ID).attr("height", "25px")
                        $('#likeCount' + shopId).text(parseInt($('#likeCount' + shopId).text()) + 1)
                    } else {
                        console.log('여기')
                        $(ID).attr("width", "25px")
                        $(ID).attr("height", "25px")
                        $(ID).attr("src", "/image/heart.png")
                        $('#likeCount' + shopId).text(parseInt($('#likeCount' + shopId).text()) - 1)
                    }
                }
            })
        })

</script>
</html>